$font-size--step-up-7: 134px;
$font-size--step-up-6: 101px;
$font-size--step-up-5: 80px;
$font-size--step-up-4: 50px;
$font-size--step-up-3: 43px;
$font-size--step-up-2: 32px;
$font-size--step-up-1: 24px;
$font-size--baseline: 18px;
$font-size--step-down-1: 17px;
$font-size--step-down-2: 15px;
$font-size--step-down-3: 14px;
$font-size--step-down-4: 12px;
$font-size--step-down-5: 10px;
$font-size--step-down-6: 9px;

$color-black: hsla(0, 0%, 0%, 0.8);
$color-white: hsla(0, 0%, 100%, 0.8);