.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.card {
  &__image-wrapper {
    margin-bottom: 1em;
  }
  &__copy {
    * + * {
      margin-top: .5em;
    }
  }
}